@model DatabseFirstDemo.Models.tblProject

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tblProject</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ProjectID)

        <div class="form-group">
            @Html.LabelFor(model => model.EndUserID, "EndUserID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EndUserID", String.Empty)
                @Html.ValidationMessageFor(model => model.EndUserID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AssignedTo, "AssignedTo", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AssignedTo", String.Empty)
                @Html.ValidationMessageFor(model => model.AssignedTo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OpenedBy, "OpenedBy", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("OpenedBy", String.Empty)
                @Html.ValidationMessageFor(model => model.OpenedBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OpenedDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OpenedDate)
                @Html.ValidationMessageFor(model => model.OpenedDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StatusID, "StatusID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StatusID", String.Empty)
                @Html.ValidationMessageFor(model => model.StatusID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProjectName)
                @Html.ValidationMessageFor(model => model.ProjectName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SubCategory, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SubCategory)
                @Html.ValidationMessageFor(model => model.SubCategory)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PriorityID, "PriorityID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PriorityID", String.Empty)
                @Html.ValidationMessageFor(model => model.PriorityID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScheduledStart, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScheduledStart)
                @Html.ValidationMessageFor(model => model.ScheduledStart)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ActualStart, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ActualStart)
                @Html.ValidationMessageFor(model => model.ActualStart)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScheduledFinish, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScheduledFinish)
                @Html.ValidationMessageFor(model => model.ScheduledFinish)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EstFinish, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EstFinish)
                @Html.ValidationMessageFor(model => model.EstFinish)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ActualFinish, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ActualFinish)
                @Html.ValidationMessageFor(model => model.ActualFinish)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EstDurationDays, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EstDurationDays)
                @Html.ValidationMessageFor(model => model.EstDurationDays)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateModified, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateModified)
                @Html.ValidationMessageFor(model => model.DateModified)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RelatedIssues, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RelatedIssues)
                @Html.ValidationMessageFor(model => model.RelatedIssues)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comments, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comments)
                @Html.ValidationMessageFor(model => model.Comments)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PublicityID, "PublicityID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PublicityID", String.Empty)
                @Html.ValidationMessageFor(model => model.PublicityID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PctComplete, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PctComplete)
                @Html.ValidationMessageFor(model => model.PctComplete)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MgrComments, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MgrComments)
                @Html.ValidationMessageFor(model => model.MgrComments)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GroupID, "GroupID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GroupID", String.Empty)
                @Html.ValidationMessageFor(model => model.GroupID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
